html {
    font-family: Helvetica, sans-serif;
    margin: 1em 3em;
} 
h1, nav, nav ul li {
    display: inline-block;
}
header {
    border-bottom: 2px solid gray;
}
nav a {
    text-decoration: none;
    color: green;
}
nav ul li:not(:first-child) {
    margin-left: 1.5em;
}