body {
    background-color: rgb(26, 26, 28)
}
.images img {
    width: 300px;
    height: 150px;
    margin: 50x auto;
    
}
figure {
    display: inline-block;
    margin: 5px;

}
figcaption {
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: large;
    margin: 5px;
}
.images img:hover{
    transform: scale(1.1);
}
#button {
    text-align: center;

}
button {
    color: white;
    font-family: fantasy;
    font-size: large;
    background-color:rgb(101, 3, 3);

}