html {
    font: 16px/1.2 Helvetica sans-serif; 
}
body {
    margin: 0 2em;
}
header {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
h1 {
    position: relative;
    font-size: 3em;
    top: 0.2em;
    text-transform: uppercase;
}
nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}
ul {
    display: flex;
    gap: 2em;
    padding-right: 1em;
}
li {
    display: block;
}
a {
    text-decoration: none;
    color: rgb(0, 153, 0)
}